.imgd{height: 450px;
    width: 450px;
    margin: 20px

}
p{font-size: 25px;
font-style: italic;
color: red
}
.giphy{color:blue;
padding: 30px;
margin: 10px;
background-color:gray;
font-size: 20px;
font-style: oblique}
#imgs{
    display: flex;
    flex-wrap: wrap
}
button,
    div,
    form,
    input {
      margin: 10px;
    }